<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body card-information">
          <h3 class="card-title text-primary">Acerca de Nosotros</h3>
                <p class="card-text">
                  Somos una farmacia comprometida con la salud y el bienestar de nuestros clientes. 
                  Ofrecemos productos farmacéuticos de calidad y un excelente servicio al cliente.
                </p>

                <h3 class="card-title text-primary">Misión</h3>
                <p class="card-text">
                  Brindar medicamentos y productos de salud con la más alta calidad, garantizando accesibilidad y confianza en cada compra.
                </p>

                <h3 class="card-title text-primary">Visión</h3>
                <p class="card-text">
                  Ser la farmacia líder en el sector, reconocida por su servicio excepcional y compromiso con la salud de la comunidad.
                <br/>
                
                </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-0">
            <div class="image-container">
              <img src="https://img.freepik.com/foto-gratis/farmaceutico-trabajo_23-2150600136.jpg" class="img-fluid rounded" alt="Farmacia">
            </div>
          </div>
    </div>
  </div>
  