<footer class=" text-white text-center py-3 footer">
    <div class="container">
      <p class="mb-1">© 2025 Farmacia App . Todos los derechos reservados.</p>
      <p class="mb-1">Creadores Brayan Narvaez y Sergio Novoa</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-white">Términos</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Privacidad</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Contacto</a></li>
      </ul>
    </div>
  </footer>
